{% extends "layout.twig" %}

{% block content %}

<h1> {{name}} </h1>

<form action="/list/{{id}}/element" method="POST">
Input product name: <br>
<input type="text" name="prod_name"> <br>
Input description: <br>
<input type="text" name="descr"> <br>
Input quantity: <br>
<input type="number" name="quantity"> <br>
<input type="submit" value="Submit">
</form>

<h2> List of items to buy: </h2>

    {% for element in elements %}

        <dt> <b>{{element.element_name}}</b> </dt>
            <dd>- {{element.description}} </dd>
            <dd>- How many: {{element.quantity}} </dd>

    {% endfor %}

{% endblock %}